/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #eee;
    text-align: center;
    padding: 50px;
    animation: fadeIn 4s;
}

h1 {
    color: #0ff;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

.cta-button {
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background: #0ff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.3s ease;
    text-decoration: none; /* Remove underline for link */
    display: inline-block; /* Center button */
}

.cta-button:hover {
    transform: scale(1.1);
}

/* Copyright Island Styles */
.copyright-island {
    background-color: #222;
    border-radius: 50%;
    width: 300px; /* Adjusted size */
    height: 180x; 
    margin: auto;  /* Center horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 0 20px white; /* White glow */
}

/* Additional Styles for the footer positioning */
footer {
    margin-top: auto; /* Pushes footer to the bottom */
    padding: 20px; /* Add some padding for space */
}
